
<form>

First Name: <br>
<input type='text' name='firstname'>

<br>
Last Name: <br>
<input type='text' name='lastname'>

<br>
Date of Birth: <br>
<input type='date' name='bday'>

<br>
Permanent Location: <br>
<input type='text' name='permanentlocation'>

<br>
Company: <br>
<input type='text' name='company'>

<br>
<br>
<input type='submit' value='Sign Up'>

</form>



