<h1 class="text-center", class="page-header" >  Welcome to the Affinity Groups!!</h1>

<h2> List of all the Users!!</h2>

<% for user in @userprofiles %>

<table class="table table-striped" class="center" >
  <tr>    
    <td style="width: 400px" > <%= link_to user.firstname + " "+ user.lastname, userprofile_path(user) %></td>
    <td style="width: 400px"> <%= link_to "Edit", edit_userprofile_path(user.id), class: "btn btn-success btn-sm" %></td>
    <td style="width: 400px"> <%= link_to "Delete", userprofile_path(user.id), class: "btn btn-success btn-sm", method: :delete%></td>
    
  </tr>
  
</table>

  
<% end %>
  </td>
</tr>
</table>


<%= link_to "New User Profile", new_userprofile_path, class: 'btn btn-success btn-lg btn-block' %>
